body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.letter_slide {
  font-size: 3em;
  line-height: 1.2em;
  width: 100%;
  text-align: center;
  transform: rotate(-8deg) translateY(20%);
  margin-top: 10vh;
}
